.container{
   
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items:center;
    flex-wrap:  wrap;
    padding: 21px
}

.box{
    border: 2px dashed red;
    width: 180px;
    height: 190px;
    
}